<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>BBC News - Events</title>
		<link rel="stylesheet" href="/css/style.css"> 
		<meta content='width=device-width' name='viewport' />
		<script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>	
		<script type="text/javascript" src="/js/jquery-ui-1.8.23.custom.min.js"></script>
		<script type="text/javascript" src="/js/jquery-ui-touch-punch.js"></script>

		<script type="text/javascript">		

			
		</script>

	</head>
	<body>
	<header>
	  	<div id="blq-mast-bar">
	  		<div id="blq-blocks"><a href="/">BBC</a></div>
	  	</div>   
		
		<div id="site-brand">
	        <div class="site-brand-inner">
	            <a id="brand" href="/">
	                <img width="86" height="23" alt="BBC News" src="/img/news-brand-22.gif">
	            </a>
			</div>
	    </div>
		    


	</header>

	<section id="content">

	</section>

	</body>
</html>