<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>BBC News - Events</title>
		<link rel="stylesheet" href="/css/style.css"> 
		<meta content='width=device-width' name='viewport' />
		<script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>	
		<script type="text/javascript" src="/js/jquery-ui-1.8.23.custom.min.js"></script>
		<script type="text/javascript" src="/js/jquery-ui-touch-punch.js"></script>

		<script type="text/javascript">		

			if (!window.bbc) {
				window.bbc = {};
			}

			bbc.newsPrototype = {};
				
			$(function() {
		        //sections toggle
		        $('#nav-button').click(function(e) {
		        	e.preventDefault();
			        $('body').toggleClass('nav-top-open');
			        
	  			});
	  			
	  			//subsections toggle
		        $('.expand').click(function(e) {
		        	e.preventDefault();
			        $(this).toggleClass('open');
			        $(this).next().toggleClass('open');
				});
				
				//customise button
				$('#edit-button').click(function(e) {
		        	e.preventDefault();
		        	$(this).toggleClass('edit');
		        	var sectionList = $(this).parent().next();
		        	sectionList.sortable({items: "li:not('#section_1')"});

		        	if(sectionList.hasClass('edit')){
		        		$(this).text('CUSTOMISE');
			        	sectionList.sortable("disable");
			        	
			        	var myArray = sectionList.sortable('toArray');			        	
			        	var placeholder = $('<ul/>');
			        	placeholder.append($('#nav #nav_1'));
			        	
						$.each(myArray,function(index,value){
							if (value !== '') {
								var navId = value.replace("section_","nav_");
								placeholder.append($('#nav #'+navId));
							}
						});
						
						$('#nav').empty().append(placeholder.children());
		        	} else {
		        		$(this).text('SAVE');
			        	sectionList.sortable("enable");
		        	}
			        sectionList.toggleClass('edit');
				});

			});
		</script>

	</head>
	<body>
	<header>
	  	<div id="blq-mast-bar">
	  		<div id="blq-blocks"><a href="/">BBC</a></div>
	  	</div>   
		
		<div id="site-brand">
	        <div class="site-brand-inner">
	            <a id="brand" href="/">
	                <img width="86" height="23" alt="BBC News" src="/img/news-brand-22.gif">
	            </a>
			</div>
	    </div>
		    
		<% include nav %>

	</header>

	<section id="content">
		<% include content %>
	</section>
    <script type="text/javascript" src="/js/jcookie.min.js"></script>
	<script type="text/javascript" src="/js/change-locale.js"></script>
	<script type="text/javascript">
		bbc.newsPrototype.changeLocale.init();
	</script>
	</body>
</html>