<style>
/*	.section{
		width: 0;
		 height: 0;
		 border-left: 100px solid red;
		 border-top: 50px solid transparent;
		 border-bottom: 50px solid transparent;
	}*/
</style>

<div id="blq-local-nav" class="blq-clearfix">

	<ul id="nav">
		<li class="mobile"><a href="/">Home</a></li>
	    <li class="mobile section"><a href="/world">Events</a></li>
		<li class="mobile section"><a href="/world">Arab Spring</a></li>	    	
	    <li class="mobile selected subsection"><a href="/world/asia">Syria Crisis</a></li>
	</ul> 
    
    <a data-event="top" href="#site-nav" id="nav-button">Sections</a>
</div>