<!doctype html> 
<html>
<head>
	<meta charset="utf-8">
	<title>BBC News - Near Me</title>

	<meta name="description" content="">
	<meta name="author" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/default.css">

    <link rel="stylesheet" href="/stylesheets/gantt.css" />
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/panel.css">

</head>

	<body>

		<div id='results'></div>

		<header role="banner">
			<div id="global-header">
				<a href="http://www.bbc.co.uk">
					<img src="/images/bbc_blocks.png" width="84" height="24" alt="British Broadcasting Corporation" />
				</a>
			</div>
			<div id="local-header">
				<h1>
					<a href="http://www.bbc.co.uk/news">News</a>
					<span class="location"></span>
				</h1>
			</div>
		</header>

		<div id="container">

			<section role="main">
				<div id="story-list">

					<div class="panel dark wide">
						<h2 class="title mod">
							<img src="http://news.bbcimg.co.uk/media/images/62400000/jpg/_62400998_introduction.jpg" />
							<span class="text">Syria: A nation divided</span>
						</h2>
						<div class="mod key-points">
							<h3 class="heading">Key points</h3>
							<ul>
								<li>Point 1</li>
								<li>Point 2</li>
								<li>Point 3</li>
							</ul>
						</div>
						<div class="mod keywords">
							<h3 class="heading">Keywords</h3>
							<ul>
								<li>Syria</li>
								<li>Libya</li>
								<li>Egypt</li>
								<li>Conflict</li>
								<li>War</li>
							</ul>
						</div>
						<div class="mod">
							<h3 class="heading">Related events</h3>
							<ul>
								<li>Libya conflict</li>
							</ul>


						</div>
						<ul class="share">
							<li class="facebook"></li>
							<li class="twitter"></li>
							<li class="follow"><a href="#follow">FOLLOW EVENT</a></li>
						</ul>
					</div>

				</div>
			</section>

			<section role="complementary" id="local-people"></section>
			<section role="complementary" id="local-companies"></section>

		</div>

		<footer>
			<div id="footer-content">
				<p>BBC &copy; 2012</p>
			</div>
		</footer>

	</body>
</html> 