.panel {
	padding: 8px;
	width: 224px;
}
.wide {
	width: 100%;
}
.panel img {
	margin-bottom: 8px;
	width: 100%;
}
.panel .title {
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	position: relative;
}
.panel p {
	font-size: 13px;
	line-height: 16px;
}
.dark {
	background-color: #000000;
	color: #ffffff;
}
.share {
	margin: 0;
}
.share li {
	display: inline-block;
	height: 16px;
	width: 16px;
}
.share .facebook {
	background: url(http://static.bbci.co.uk/modules/sharetools/v1/img/sprite-0.3.2.png) -17px -150px;
}
.share .twitter {
	background: url(http://static.bbci.co.uk/modules/sharetools/v1/img/sprite-0.3.2.png) -17px -167px;
}
.share .follow {
	background-color: #666666;
	font-size: 11px;
	line-height: 11px;
	width: auto;
}
.share .follow a {
	color: #ffffff;
	float: left;
	padding: 3px 8px;
}

.panel .title .text {
	background-color: #ffffff;
	bottom: 0;
	color: #000000;
	left: 0;
	padding: 0 8px;
	position: absolute;
}
.wide img {
	margin-bottom: 0;
}
.mod {
	max-width: 200px;
}
.mod ul li {
	font-size: 13px;
}
.panel .mod .heading {
	font-size: 16px;
	font-weight: normal;
	line-height: 32px;
	margin: 0;
}
.panel .mod ul {
	margin: 0;
}
.panel .key-points li {
	list-style-position: inside;
	list-style-type: square;
}
.panel .keywords li {
	background-color: #ccffff;
	border-radius: 8px;
	color: #666666;
	display: inline-block;
	margin-bottom: 2px;
	padding: 2px 4px;
}